[submodule "iil-examples"]
	path = iil-examples
	url = ssh://git@github.com/Intelligent-Instruments-Lab/iil-examples
[submodule "iipyper"]
	path = iipyper
	url = ssh://git@github.com/Intelligent-Instruments-Lab/iipyper
[submodule "anguilla"]
	path = anguilla
	url = ssh://git@github.com/Intelligent-Instruments-Lab/anguilla
[submodule "notochord"]
	path = notochord
	url = ssh://git@github.com/Intelligent-Instruments-Lab/notochord
[submodule "tolvera"]
	path = tolvera
	url = ssh://git@github.com/Intelligent-Instruments-Lab/tolvera
[submodule "iimrp"]
	path = iimrp
	url = ssh://git@github.com/Intelligent-Instruments-Lab/iimrp
